@mixin font12lh15 {
  font-size: 12px;
  line-height: 15px;
}

@mixin font13lh16 {
  font-size: 13px;
  line-height: 16px;
}

@mixin font14lh17 {
  font-size: 14px;
  line-height: 17px;
}

@mixin font16lh19 {
  font-size: 16px;
  line-height: 19px;
}

@mixin font17lh21 {
  font-size: 17px;
  line-height: 21px;
}

@mixin font18lh22 {
  font-size: 18px;
  line-height: 22px;
}

@mixin font22lh27 {
  font-size: 22px;
  line-height: 27px;
}

@mixin font24lh29 {
  font-size: 24px;
  line-height: 29px;
}

@mixin font26lh31 {
  font-size: 26px;
  line-height: 31px;
}

@mixin font34lh41 {
  font-size: 34px;
  line-height: 41px;
}

@mixin font36lh44 {
  font-size: 36px;
  line-height: 44px;
}
