@import "../variables";
@import "../typography";

.callback {
  display: flex;
  align-items: center;

  fill: var(--c-green);
  color: var(--c-green);

  &:hover {
    fill: var(--c-violet);
    color: var(--c-violet);
    text-decoration: none;
  }

  &__icon {
    margin-right: 10px;
  }

  &__text {
    display: inline-block;
    @include font18lh22;
    font-weight: 600;
    white-space: nowrap;
  }
}
