@import "../variables";
@import "../typography";

.footer {
  padding: 47px 0 19px;
  background: var(--c-white-2);

  &-col {
    &__title {
      margin-bottom: 34px;

      font-weight: 500;
      @include font18lh22;
      color: var(--c-black);

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &__nav {
    .nav-list {
      gap: 20px 0;
      flex-wrap: wrap;
      align-items: flex-start;

      @media (max-width: 767px) {
        gap: 10px 0;
      }
    }
    .nav-item {
      width: 100%;

      @include font14lh17;
      color: var(--c-grey-1);

      &--green {
        color: var(--c-green);
      }
    }

    &--two-cols {
      .nav-item {
        max-width: 50%;
        width: 100%;

        @media (max-width: 767px) {
          &:nth-child(even) {
            padding-left: 15px;
          }
        }

        @media (max-width: 575px) {
          max-width: 100%;

          &:nth-child(even) {
            padding-left: initial;
          }
        }
      }
    }
  }

  &-top {
    margin-bottom: 80px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &-bottom {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 991px) {
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}
