@custom-media --mobile-xs (max-width: 480px);
@custom-media --mobile-s (max-width: 650px);
@custom-media --mobile (max-width: 800px);
@custom-media --mobile-above (min-width: 751px);
@custom-media --tablet-below (max-width: 900px);
@custom-media --tablet (max-width: 1000px);
@custom-media --tablet-above (max-width: 1280px);
@custom-media --desktop (min-width: 1367px) and (max-width: 1920px);
@custom-media --desktop-below (max-width: 1365px);
@custom-media --desktop-above (max-width: 1439px);
@custom-media --container-below (max-width: 1440px);
@custom-media --full (width: 1920px);
@custom-media --full-below (max-width: 1919px);
@custom-media --height-700 (min-height: 700px);
@custom-media --height-900 (min-height: 900px);
@custom-media --height-1000 (min-height: 1000px);
:root {
  --c-black: black;
  --c-white: white;
  --c-white-1: #FAFAFA;
  --c-white-2: #FBFBFB;
  --c-green: #21A038;
  --c-violet: #8168F0;
  --c-red: #E9404A;
  --c-yellow: #FFDF00;
  --c-grey-1: #888888;
  --c-grey-2: #8A8C94;
  --c-grey-3: #B3B7C5;
  --c-grey-4: #C4C4C4;
  --c-grey-5: #DDDFE0;
  --c-grey-6: #B7B3B3;
  --c-grey-7: #C1C4C7;
  --c-grey-8: #DBDCE1;
  --c-grey-9: #F3F3F3;
  --border: #F0F0F0;
  --inputBg: #EDEDED;
  --inputBorder: #CFCFCF;
  --placeholder: #B6ACA0;
  --boxShadow: 0px 30px 55px rgba(0, 0, 0, 0.1);
  --borderRadius: 6px;
  --transition: .2s;
}

@custom-media --mobile-xs (max-width: 480px);
@custom-media --mobile-s (max-width: 650px);
@custom-media --mobile (max-width: 800px);
@custom-media --mobile-above (min-width: 751px);
@custom-media --tablet-below (max-width: 900px);
@custom-media --tablet (max-width: 1000px);
@custom-media --tablet-above (max-width: 1280px);
@custom-media --desktop (min-width: 1367px) and (max-width: 1920px);
@custom-media --desktop-below (max-width: 1365px);
@custom-media --desktop-above (max-width: 1439px);
@custom-media --container-below (max-width: 1440px);
@custom-media --full (width: 1920px);
@custom-media --full-below (max-width: 1919px);
@custom-media --height-700 (min-height: 700px);
@custom-media --height-900 (min-height: 900px);
@custom-media --height-1000 (min-height: 1000px);
.order-item {
  border-radius: 10px;
  background: var(--c-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.order-item:not(:last-child) {
  margin-bottom: 28px;
}
.order-item .order__head,
.order-item .order-info,
.order-item .order-status,
.order-item .order-products {
  transition: 0.2s;
}
.order-item.collapsed .order-info,
.order-item.collapsed .order-status {
  margin: 0;
  padding: 0;
  height: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
}
.order-item.collapsed .order-products {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.order-item.collapsed .order-product {
  padding-top: 13px;
  border-bottom: 0;
}
.order-item.collapsed .order-product__picture {
  margin: 0;
}
.order-item.collapsed .order-product__info, .order-item.collapsed .order-product__price {
  display: none;
}
.order-status {
  border-radius: 5px 5px 0 0;
  background: rgba(243, 243, 243, 0.3);
}
.order__head {
  display: flex;
  padding: 30px 27px 13px 40px;
}
.order-delivery {
  display: flex;
  flex-direction: column;
}
.order-delivery__title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: var(--c-black);
}
.order-delivery__number {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: var(--c-violet);
}
.order__callback {
  margin-left: 22px;
}
.order-pay {
  margin-left: auto;
  text-align: right;
}
.order-pay__title {
  margin-bottom: 1px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
  color: var(--c-black);
}
.order-pay__cost {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: var(--c-black);
}
.order-info {
  display: flex;
  gap: 49px;
  padding: 13px 27px 33px 40px;
}
.order-info-item {
  font-weight: 500;
}
.order-info-item__title {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 17px;
  color: var(--c-grey-2);
}
.order-info-item__text {
  font-size: 16px;
  line-height: 19px;
}
.order-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px 24px;
  margin-bottom: 64px;
  background: var(--c-grey-9);
}
.order-status-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.order-status-item.active .order-status-item__icon {
  background: var(--c-green);
}
.order-status-item.active .order-status-item__description {
  color: var(--c-green);
}
.order-status-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;
  min-width: 54px;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background: var(--c-grey-5);
}
.order-status-item__description {
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
  color: var(--c-grey-2);
}
.order-products {
  padding: 0 27px 0 40px;
}
.order-product {
  display: flex;
  padding: 20px 0;
}
.order-product:not(:last-child) {
  border-bottom: 1px solid rgba(196, 196, 196, 0.4);
}
.order-product__picture {
  margin-right: 44px;
}
.order-product__title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: var(--c-black);
}
.order-product__links:not(:last-child) {
  margin-bottom: 12px;
}
.order-product__link {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--c-green);
}
.order-product__link:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: var(--c-black);
  opacity: 0.4;
  margin: 0 5px;
}
.order-product__additional {
  display: inline-block;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--c-white);
  border-radius: 5px;
  background: var(--c-grey-7);
}
.order-product__price {
  margin-left: auto;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  color: var(--c-black);
}
.order-all__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: var(--c-violet);
  text-align: center;
  border-radius: 5px;
  background: var(--c-white-1);
}
.order-all__toggle:hover {
  color: var(--c-violet);
  text-decoration: none;
}
.order-all__toggle:after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 11px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.5L10.5 10.5L19.5 1.5' stroke='%238168F0' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

/*# sourceMappingURL=order.css.map */
