@import "../variables";
@import "../typography";
@import "../helpers";

.order {
  $order: &;

  &-item {
    border-radius: 10px;
    background: var(--c-white);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    &:not(:last-child) {
      margin-bottom: 28px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    &.collapsed {
      #{$order}__head {
        padding-top: 12px;
        background: var(--c-white-1);
      }
      #{$order}-info,
      #{$order}-status {
        margin: 0;
        padding: 0;
        height: 0;
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
      }
      #{$order}-products {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;

        @media (min-width: 992px) {
          padding: 0 50px;
        }

        @media (max-width: 575px) {
          gap: 20px;
        }
      }
      #{$order}-product {
        padding-top: 25px;
        border-bottom: 0;

        &__picture {
          margin: 0;
          max-width: 65px;
        }
        &__info,
        &__price {
          display: none;
        }

        @media (max-width: 991px) {
          padding: 0;
        }
      }

      .order-all__toggle {
        &:after {
          transform: rotate(0);
        }
      }
    }

    #{$order}__head,
    #{$order}-info,
    #{$order}-status,
    #{$order}-products {
      transition: .2s;

      @media (max-width: 991px) {
        padding: 15px 25px;
      }

      @media (max-width: 575px) {
        padding: 10px 20px;
      }
    }
  }

  &__head {
    display: flex;
    padding: 30px 27px 13px 40px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &-delivery {
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 4px;

      @include font24lh29;
      font-weight: bold;
      color: var(--c-black);
    }

    &__number {
      @include font18lh22;
      font-weight: 600;
      color: var(--c-violet);
    }
  }

  &__callback {
    margin-left: 22px;

    @media (max-width: 767px) {
      order: 1;
      margin-left: 0;
      margin-top: 15px;
    }

    @media (max-width: 575px) {
      margin-top: 0;
    }
  }

  &-pay {
    margin-left: auto;
    padding-top: 3px;
    text-align: right;

    &__title {
      margin-bottom: 1px;

      @include font17lh21;
      font-weight: 500;
      color: var(--c-black);
    }

    &__cost {
      @include font24lh29;
      font-weight: bold;
      color: var(--c-black);
    }

    @media (max-width: 575px) {
      margin-left: initial;
      text-align: left;
    }
  }

  &-info {
    display: flex;
    gap: 49px;
    padding: 13px 28px 33px 40px;

    &-item {
      font-weight: 500;

      &__title {
        margin-bottom: 4px;

        @include font14lh17;
        color: var(--c-grey-2);
      }

      &__text {
        @include font16lh19;
      }
    }

    @media (max-width: 575px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 29px 24px 51px;
    margin-bottom: 64px;

    border-radius: 5px 5px 0 0;
    background: rgba(243, 243, 243, 0.3);

    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;

      $item: &;

      &.active {
        #{$item}__icon {
          background: var(--c-green);

          &:after {
            background: var(--c-green);
          }
        }

        #{$item}__description {
          color: var(--c-green);
        }
      }

      &:last-child {
        #{$item}__icon {
          &:after {
            display: none;
          }
        }
      }

      &__icon {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 9px;
        min-width: 54px;
        width: 54px;
        height: 54px;

        border-radius: 100%;
        background: var(--c-grey-5);

        .i-icon {
          position: relative;
          z-index: 1;
        }

        &:after {
          content: "";
          height: 3px;
          position: absolute;
          left: 0;
          z-index: 0;
          width: 500%;
          background: var(--c-grey-5);

          @media (max-width: 1199px) {
            width: 400%;
          }

          @media (max-width: 767px) {
            width: 300%;
          }

          @media (max-width: 575px) {
            display: none;
          }
        }
      }

      &__description {
        @include font17lh21;
        font-weight: 500;
        color: var(--c-grey-2);
      }

      @media (max-width: 575px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @media (max-width: 991px) {
      margin-bottom: 0;
    }

    @media (max-width: 575px) {
      flex-wrap: wrap;
      gap: 20px 0;
    }
  }

  &-products {
    padding: 0 27px 0 35px;
  }

  &-product {
    display: flex;
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(196, 196, 196, 0.4);
    }

    &__picture {
      margin-right: 44px;

      @media (max-width: 767px) {
        margin-right: 20px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding-right: 10px;
    }

    &__title {
      margin-bottom: 7px;

      @include font18lh22;
      font-weight: 600;
      color: var(--c-black);
    }

    &__links {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }

    &__link {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;

      font-weight: 500;
      @include font13lh16;
      color: var(--c-green);

      &:not(:last-child) {
        &:after {
          content: "";
          display: inline-block;
          width: 4px;
          height: 4px;
          background: var(--c-black);
          opacity: 0.4;
          margin: 0 5px;
        }
      }
    }

    &__additional {
      display: inline-block;
      padding: 6px 12px;

      font-weight: 500;
      @include font14lh17;
      color: var(--c-white);

      border-radius: 5px;
      background: var(--c-grey-7);
    }

    &__price {
      margin-left: auto;
      @include font22lh27;
      font-weight: 500;
      color: var(--c-black);
      white-space: nowrap;

      @media (max-width: 575px) {
        margin-left: initial;
      }
    }

    @media (max-width: 575px) {
      flex-direction: column;
      gap: 15px 0;
    }
  }

  &-all {
    &__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      @include font18lh22;
      font-weight: 600;
      color: var(--c-violet);
      text-align: center;

      border-radius: 5px;
      background: var(--c-white-1);

      &:hover {
        color: var(--c-violet);
        text-decoration: none;
      }

      &:after {
        content: "";

        display: inline-block;
        margin-left: 10px;
        width: 11px;
        height: 12px;

        background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.5L10.5 10.5L19.5 1.5' stroke='%238168F0' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;

        transition: .2s;
        transform: rotate(180deg);
        transform-origin: center center;
      }
    }
  }
}
