@import "../variables";
@import '../typography';

.phone {
  color: var(--c-black);
  &__link {
    @include font18lh22;
    color: inherit;

    &:hover {
      color: var(--c-violet);
    }
  }
  &__text {
    margin-top: -3px;
    @include font12lh15;
    opacity: .5;
  }
}
