@custom-media --mobile-xs (max-width: 480px);
@custom-media --mobile-s (max-width: 650px);
@custom-media --mobile (max-width: 800px);
@custom-media --mobile-above (min-width: 751px);
@custom-media --tablet-below (max-width: 900px);
@custom-media --tablet (max-width: 1000px);
@custom-media --tablet-above (max-width: 1280px);
@custom-media --desktop (min-width: 1367px) and (max-width: 1920px);
@custom-media --desktop-below (max-width: 1365px);
@custom-media --desktop-above (max-width: 1439px);
@custom-media --container-below (max-width: 1440px);
@custom-media --full (width: 1920px);
@custom-media --full-below (max-width: 1919px);
@custom-media --height-700 (min-height: 700px);
@custom-media --height-900 (min-height: 900px);
@custom-media --height-1000 (min-height: 1000px);
:root {
  --c-black: black;
  --c-white: white;
  --c-white-1: #FAFAFA;
  --c-white-2: #FBFBFB;
  --c-green: #21A038;
  --c-violet: #8168F0;
  --c-red: #E9404A;
  --c-yellow: #FFDF00;
  --c-grey-1: #888888;
  --c-grey-2: #8A8C94;
  --c-grey-3: #B3B7C5;
  --c-grey-4: #C4C4C4;
  --c-grey-5: #DDDFE0;
  --c-grey-6: #B7B3B3;
  --c-grey-7: #C1C4C7;
  --c-grey-8: #DBDCE1;
  --c-grey-9: #F3F3F3;
  --border: #F0F0F0;
  --inputBg: #EDEDED;
  --inputBorder: #CFCFCF;
  --placeholder: #B6ACA0;
  --boxShadow: 0px 30px 55px rgba(0, 0, 0, 0.1);
  --borderRadius: 6px;
  --transition: .2s;
}

@custom-media --mobile-xs (max-width: 480px);
@custom-media --mobile-s (max-width: 650px);
@custom-media --mobile (max-width: 800px);
@custom-media --mobile-above (min-width: 751px);
@custom-media --tablet-below (max-width: 900px);
@custom-media --tablet (max-width: 1000px);
@custom-media --tablet-above (max-width: 1280px);
@custom-media --desktop (min-width: 1367px) and (max-width: 1920px);
@custom-media --desktop-below (max-width: 1365px);
@custom-media --desktop-above (max-width: 1439px);
@custom-media --container-below (max-width: 1440px);
@custom-media --full (width: 1920px);
@custom-media --full-below (max-width: 1919px);
@custom-media --height-700 (min-height: 700px);
@custom-media --height-900 (min-height: 900px);
@custom-media --height-1000 (min-height: 1000px);
@media (max-width: 991px) {
  .profile__sidebar {
    margin-bottom: 30px;
  }
}
.profile-user {
  margin-bottom: 14px;
}
.profile-user__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  width: 90px;
  height: 90px;
  margin-bottom: 13px;
  background: var(--c-grey-8);
  border-radius: 100%;
  font-size: 34px;
  line-height: 41px;
  color: var(--c-white);
}
.profile-user__name {
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 991px) {
  .profile-user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile-user__avatar {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .profile-user__name br {
    display: none;
  }
}
.profile__change {
  display: inline-block;
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--c-green);
}
@media (max-width: 991px) {
  .profile__change {
    margin-bottom: 30px;
  }
}
.profile__nav .nav-list {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 991px) {
  .profile__nav .nav-list {
    gap: 10px;
  }
}
.profile__nav .nav-item,
.profile__nav .nav-delivery {
  display: flex;
  align-items: center;
}
.profile__nav .nav-item {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: var(--c-grey-2);
}
.profile__nav .nav-item.active {
  color: var(--c-black);
}
.profile__nav .nav-delivery {
  margin-left: 4px;
  text-decoration: none;
}
.profile__nav .nav-delivery__text {
  margin-right: 4px;
  font-size: 17px;
  line-height: 21px;
  color: var(--c-violet);
}
.profile__nav .nav-delivery__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  min-width: 21px;
  border-radius: 10px;
  background: var(--c-violet);
  font-size: 14px;
  line-height: 17px;
  color: var(--c-white);
}
@media (min-width: 992px) {
  .profile__content {
    padding-top: 12px;
  }
}
.profile__page-title {
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 44px;
}
.profile__orders-counter {
  display: inline-block;
  color: var(--c-grey-2);
}

/*# sourceMappingURL=profile.css.map */
