<% const data = {
    'title': 'Список страниц верстки',
    'flowContainerClass' : ''
} %>

<div class="container">
    <h1>Список страниц верстки</h1>
    <ul>
        <li>
            <a href="main.html">Главная</a>
        </li>
    </ul>
</div>

<%- require("../layouts/modals.ejs")() %>
