<a href="#" class="callback">
    <div class="callback__icon">
        <svg class="i-icon i-phone">
            <use xlink:href="#i-phone"></use>
        </svg>
    </div>
    <span class="callback__text">Связаться с нами</span>
</a>
