<div class="privacy">
    <a href="#" class="privacy__link">Конфиденциальность</a>
    <a href="#" class="privacy__link">Пользовательское соглашение</a>
    <span class="privacy__info">© 2021 local pharm</span>
</div>
