        </div>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 footer-col">
                            <div class="footer-col__title">Ассортимент</div>
                            <nav class="nav footer__nav footer__nav--two-cols">
                                <ul class="nav-list">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Лекарства и БАД</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Медицинские товары</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Красота и гигиена</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Медтехника</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Линзы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Зоотовары</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Мать и дитя</a>
                                    </li>
                                    <li class="nav-item nav-item--green">
                                        <a href="#" class="nav-link">Весь каталог</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="offset-lg-2 col-md-2 col-sm-6 col-12 footer-col">
                            <div class="footer-col__title">Сервис</div>
                            <nav class="nav footer__nav">
                                <ul class="nav-list">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">О компании</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Доставка</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Самовывоз</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Оплата</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="offset-lg-1 col-md-3 col-sm-6 col-12 footer-col">
                            <div class="footer-col__title">Обратная связь</div>
                            <nav class="nav footer__nav">
                                <ul class="nav-list">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Контакты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Реклама на сайте</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Франшиза</a>
                                    </li>
                                    <li class="nav-item nav-item--green">
                                        <a href="#" class="nav-link">Работа в Аптеке</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container footer-bottom__container">
                    <div class="footer__callback">
                        <%- require("../components/elements/callback.ejs")() %>
                    </div>
                    <div class="footer__privacy">
                        <%- require("../components/elements/privacy.ejs")() %>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </body>
</html>
